<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Press OK to Cancel | CampSass 4/19/14</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/elyse.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/tomorrowlight.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<section data-state="cancel-ok">
					<h2>Press OK to Cancel</h2>
					<img src="assets/cancel-ok.png">
					<aside class="notes">
						<p>I don't know how many of y'all have seen this around on Twitter... but I want to talk a little bit about how we got here.</p>
					</aside>
				</section>

				<section>
					<h5>hi, I&#8217;m</h5>
					<h1><small>@</small>elyseholladay</h1>
					<aside class="notes">
						<p>But first, if you don't know me, I'm Elyse. I'm a designer turned front end developer,...</p>
					</aside>
				</section>


				<section data-state="makersquare">
					<aside class="notes">
						<p>and I work at MakerSquare, a programming school in Austin, TX. I think about our brand, our website, and our process, I write code, and I teach HTML, CSS, and JavaScript. Before that I worked at Square Root and at Bazaarvoice as a front-end dev and UX designer. And I learned a few things along the way about building apps.</p>
					</aside>
				</section>

				<!-- Intro -->
				<section data-state="section2">

					<section data-state="cancel-ok">
						<h3>how did we get here?</h3>
						<img src="assets/cancel-ok.png">
						<aside class="notes">
							<p>So how did we get here?</p>
						</aside>
					</section>

					<section>
						We accidentally a user experience.
						<aside class="notes">
							<p>As kids, my brother and I would say "I didn't mean to, it was an accident!". My Mom's most misery-inducing response was, "you didn't mean NOT to."</p> 
							<p>Most bad user experiences are NOT caused by evil dev teams, coding away in dark secret lairs, rubbing their hands and laughing every time someone hits "Reset" instead of "Submit" on a form—they're accidental.</p>
						</aside>
					</section>

					<section data-state="happy-eye"></section>


					<section data-state="center">
						<h3>
                            Visuals <span class="divider">•</span> Interactivity<br/>
                            Context <span class="divider">•</span> Flow <span class="divider">•</span> Language<br/>
                            Consistency <span class="divider">•</span> Speed</h3>
						<aside class="notes">
	                        <p>So what is a user experience, anyway? in terms of a website or app, these are some of the things your user is going to expect... and expect to be good: visuals—what it looks like; interactivity—how it works, if it does what they expect and quickly and isn't confusing; context and language—that the options and instructions make sense based on the flow—going through the app in a way that makes sense; consistency—both in visual styles and interactions; and of course speed.</p>
	                    </aside>
					</section>


					<section>
						<h3 class="quote">&#8220;That&#8217;s the designer&#8217;s job.&#8221;</h3>
					</section>

					<section data-state="loki-sideeye">
						<aside class="notes">
							<p><b>Everyone</b> who works on your site is responsible for the user experience.</p>
							<p>Especially now that being device-agnostic is critical, more responsibility for the user’s experience will land on the shoulders of people who can code. We can't blame anyone else anymore.</p>
						</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;There is nothing <em>but</em> user experience design if you&#8217;re building products for people.&#8221;</h3>
						<p class="quote-source">Frances Berriman</p>
                        <aside class="notes">
                        	<p>Frances Berriman, who actually works here at Code for America, had this great quote from when I saw her at Texas JS in 2012. She said,</p>

                        	<p>"I loathe the term “user experience designer”, because I  believe that “user experience” is a fundamental to what you’re doing, and shouldn’t need stating. There is nothing BUT user experience design if you're building products for people."</p>
                        </aside>
					</section>


				</section>

				<!-- Interactivity/RWD/Design -->
				<section data-state="section3">

					<section>
						<h2>Be a user, not a dev</h2>
						<h6>interactivity, flow, &amp; consistency</h6>
						<aside class="notes">
							<p>I suspect we are all guilty of building something that, in the context of our app or site, seemed like a good solution, but that we find immensely annoying. Do we take the time to experience the things we build AS USERS, on the real devices they might be used on, not emulators, not thinking about bugs?</p>
						</aside>

					</section>

					<section>
						<h3 class="quote">&#8220;You better appreciate your average customers when you have to struggle with a new and unfamiliar user interface.&#8221;</h3>
						<p class="quote-source">Jakob Nielsen</p>
						<aside class="notes">
							<p>Even Jakob Nielsen wants you to, so you know it must be a good idea.</p>
							<small>http://www.nngroup.com/articles/try-to-be-a-test-user-sometime/</small>
						</aside>
					</section>


					<section>
						<h4>WhatsApp <span class="divider">vs</span> iMessage <span class="divider">•</span> Feedback</h4>
						<img src="https://d262ilb51hltx0.cloudfront.net/max/640/1*wQ0auiAEIS0JBGUGxze5fQ.png">
						<img class="fragment" src="https://d262ilb51hltx0.cloudfront.net/max/640/1*-FyGAdSZNCgVwaCLFnLplA.png">
						<aside class="notes">
							<p>Imagine we're building iMessage. We're like, hey, I have a great idea—let's add a progress bar so people know how fast their messages are being sent, and if they got through okay! But man, that blue progress bar can take foreevvverr! It's not a bad piece of feedback to the user, but...</p>
							
							<p>Whatsapp uses a green checkmark to indicate that a message has been sent and another to indicate that it’s been received. What the app does brilliantly is to show you the first checkmark immediately. It may not have been fully sent, but it will probably get there, so let's go ahead and show that check. This makes the user feel like Whatsapp is really fast at sending messages.</p>
						</aside>
					</section>

					<section>
						<h4>Google Maps <span class="divider">•</span> Scroll Hijacking</h4>
						<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/drdrang">@drdrang</a> Agree. I don&#39;t know how many times I&#39;ve gone from a neighborhood to outer space by accident.</p>&mdash; Eddie Smith (@eddie_smith) <a href="https://twitter.com/eddie_smith/statuses/74868619435184128">May 29, 2011</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<aside class="notes">
							<p>Trent Walton blogged about them recently, and he said, "[a site] shouldn’t dramatically change how basic input devices operate. Rather than consuming the page, I worried I broke my trackpad."
							</p>
							<p>Or Google Maps—you're on a mobile site for a restaurant, trying to find where this resaurant is, and you're scrolling, and all of a sudden you're stuck in a Google map and can't get out. Or, like this tweet, suddenly you're in outer space.</p>
							<small>http://trentwalton.com/2013/10/23/scroll-hijacking/</small>
						</aside>
					</section>

					<section data-state="space"></section>

					<section data-state="productpicker">
					<aside class="notes">
						<p>When I worked at Bazaarvoice, we built consumer product rating and review software. When someone submitted a review on a product, they could add related products, like a game to a review of a Wii. This feature had super-high conversion rates but was never used—and I suspect not by anyone who had built it, either.</p>
						<p>I ran some user tests, and it turned out that the search was based on the number of times the search query came up—nothing else. So if you searched for “macbook” you would get “Macbook Case for Macbook Pro 13 and Macbook Pro 15 and Macbook Pro 17” rather than the actual Macbook, which might appear on page five—which users never got to.</p>
						<p>So we built a new prototype and bumped search results based on the number of reviews a product has; most likely a Macbook Pro has more reviews than a case. Time to find the right product dropped from 2 minutes to :15-:30 seconds.</p>
					</aside>
					</section>

					<section>
						<h4>Instagram <span class="divider">•</span> optimistic design</h4>
						<img src="http://cdn.cultofmac.com/wp-content/uploads/2012/05/Screen-Shot-2012-05-01-at-2.51.58-PM.jpg">
						<aside class="notes">
							<p>In all of the less-than-stellar cases—including mine—I think the only sin committed was the teams not EXPERIENCING what they built. So what about a good example?</p>

							<p>When we use Instagram, what we see is our photo instantly upload right when we tap the “Done” button, but Instagram is actually working in the background to get that photo up from the moment we take it. Simple trick for a much better user experience.</p>

							<p>Is it tough technically? Probably. But worth it—Instagram is, after all, beloved, and for a good reason: they took the time to do the hard work for their users.</p>

							<small>http://www.cultofmac.com/164285/the-clever-trick-instagram-uses-to-upload-photos-so-quickly/</small>
						</aside>
					</section>

				</section>

				<section data-state="section4">
					
					<section>
						<h2>Say that again?</h2>
						<h6>language, flow, &amp; context</h6>
						<aside class="notes">
							<p>If you are a developer, congrats, you are also a copywriter. But when was the last time you thought about what you wrote in an app? </p>
					</section>

					<section>
						<h3 class="quote">
							&#8220;If you can go through your app and find any sentence that you&#8217;d write differently if it wasn’t generated by a computer, you are reducing the effectiveness of that text and degrading the overall experience.&#8221;
						</h3>
						<p class="quote-source">Alex Sexton</p>
						<aside class="notes">
							<p>Alex Sexton wrote a great post called the UX of Language, and he says, "If you can go through your app and find any sentence that you’d write differently if it wasn’t generated by a computer, you are degrading the overall experience"</p>
							<p>At Square Root, our yml file of translatable text in our app was eleven hundred lines long. That's a lot of text! There were plenty of error messages in there, and many of them reused across different parts of the app. Understanding where they are used is the first step to avoiding "Press OK to Cancel" instructions; being able to have human-sounding language is even better.</p>
						</aside>
					</section>

					<section>
						<h6>No notifications.</h6>
						<h3 class="quote">&#8220;Sorry, you don&#8217;t have any new notifications for this app.&#8221;</h3>
						<aside class="notes">
							<p>here's a few messages that we rewrote...</p>
						</aside>
					</section>

					<section>
						<h6>phone value cannot be blank when set to primary.</h6>
						<h3 class="quote">&#8220;Your primary phone number is blank. Enter your number, or set a different number to primary.&#8221;</h3>
					</section>

					<section>
						<h6>No results found.</h6>
						<h3 class="quote">&#8220;We didn&#8217;t find anything that matches [query]. Try searching for something a little different.&#8221;</h3>
						<aside class="notes">
							<p>In all of these cases, we aimed for providing a little more context, and a lot more friendliness. "No results found" definitely sounds like a computer wrote it, even if it was actually a rails developer. Letting our users know we understand what they typed—and showing it again in case they typo'd it—helped them to not be frustrated by a dead-end search.</p>
						</aside>
					</section>

					<section data-state="analytics">
						<aside class="notes">
							<p>And what about the way your users flow through your app?</p>
							<p>Do you know what pages they go to first? What pages lead to 404's? What do they search for or go to FROM your 404 pages? You do have a search and nav links on your 404 page, right? Getting some insight into these types of questions may really change the way you think about the language in your app.</p>
						</aside>
					</section>

					<section data-state="referrers">
						<aside class="notes">
							<p>Sites like crazyegg also can help you track clicks and do eye tracking. This is the MakerSquare site—a while back we had added the background banner to promote the fact that we're now offering a course in SF, not just in Austin. But the click history proved that it might have been more confusing: those aren't links, but people sure wanted to click on them.</p>
						</aside>
					</section>


					<section>
						<h3 class="quote">&#8220;You can spend as much time as you&#8217;d like on the interaction and visual design, but if your app doesn&#8217;t have a good flow, you&#8217;re leaving the most important cards on the table: the content.&#8221;</h3>
						<p class="quote-source">Alex Sexton</p>

						<aside class="notes">
							<p>Here's another Alex quote: if your app doesn't have a good flow, you're leaving the most important cards on the table: the content.</p>
							<p>what is the point if not to have our users find, understand, and enjoy using the CONTENT of the app we provide. At Square Root it was data reporting and analysis that helped them do their jobs; at MakerSquare it's finding information about learning to code; maybe it's Instagram photos, or how to use your Sass plugin. Either way, if they can't get to what they want, you're wasting their time—and yours.</p>

							<small>https://alexsexton.com/blog/2012/03/the-ux-of-language/</small>
						</aside>

					</section>

					<section data-state="cancel-ok">
						<img src="assets/cancel-ok.png">
						<aside class="notes">
							<p>So back to this— I'd like to imagine that to some poor developer, this probably made sense in some way. Let's call him Steve.</p>
						</aside>
					</section>


					<section>
						<pre><code class="html">
  <!-- Common alert dialog markup -->
  <button type="submit" id="btn-pos">
    <% BUTTON.POSTEXT %>
  </button>
  <button type="submit" id="btn-neg">
    <% BUTTON.NEGTEXT %>
  </button>
						</code></pre>

						<aside class="notes">
							<p>Maybe Steve had a designer who told him there always had to be 2 buttons on every alert dialog, and a front-end dev who told him he had to use the common alert markup and buttons, so everything would be styled consistently.</p>

							<p>So he's writing this feature, and pulls in this common HTML, and of course the button text itself is in a different file, so it can be translated to other languages, and so.. OK, this seems alright. I'm doing the right thing.</p>

							<p>Then it's built, and during QA, someone goes, "Hey! This dialog says "are you sure you want to cancel?" and the buttons are OK and Cancel. That doesn't make sense. I have an idea: let's add more instructions."</p>

							<p>And thus, "Click OK to cancel the current action, or Cancel to continue" was born. All out of trying to do the right thing.</p>

						</aside>

					</section>

					<section data-state="car-timing">
						<aside class="notes">
							<p>But for our friend Steve, when he was making this alert, when he looked at the code, was it clear where the buttons would end up, what they would say, and what their context was?</p>
						</aside>
					</section>

				</section>

				<!-- Names and Naming Conventions -->
				<section data-state="section5">
					
					<section>
						<h2>do the hard work <br/>to make it simple</h2>
						<h6>consistency &amp; context</h6>
						<aside class="notes">
							<p>In the end, your fellow developers are ALSO your users. They are the users of the code you write. Make it simple for THEM to do the right thing; hopefully, in the end, this makes it simple for your users.</p>
						</aside>
					</section>

					<section>
						<p>what is faster?</p>
						<h3>writing a new bit of code <span class="divider">or</span><br/>
						finding the existing code <span class="divider">?</span></h3>

						<aside class="notes">
							<p>When you have spaghetti code, it's unlikely to be commented, because we dont like to admit to our hacks.</p>
							<p>If your CSS files are gargantuan and unorganized—because let's be real, if they were Sass files, they'd never get messy or unorganized, right?—it's really hard to find the right bit of code and learn how to use or extend it.</p>
							<p>Don't put your coworkers in Steves's shoes. If you can write reusable code, it WILL get reused.</p>
						</aside>
					</section>

					<section>
						<pre><code class="css">
 .btn.btn-pr-alt.on.err { }
						</code></pre>

						<pre class="fragment"><code class="css">
 .button-primary-alternate.is-active.has-error { }
						</code></pre>

						<aside class="notes">
							<p>I'd argue that the same language concepts I talked about apply to our code, too: don't make it seem like a computer wrote it.</p>
							<p>Is the second one longer? yes. but human readable HTML and CSS makes it possible for US to understand what the hell we are looking at.</p>
							<p>I really like the state classes, like .is-active, or .has-error, or .js-hidden, so that I know both WHAT the current state is and how it was applied.</p>
							<p>I don't care what kind of naming conventions you use, if you use dashes or camelcase, if you like BEM or SMACSS or OOCSS, or anything else you made up, but I do care that you do it consistently.</p>
						</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;Aesthetics matter; we don't want to make your eyes bleed.&#8221;</h3>
						<p class="quote-source">Chris Eppstein, this morning</p>
					</section>

					<section data-state="modalnamedfiles">

						<aside class="notes">
							<p>How many of you have ever been searching for some code, and it ends up in a file like, 'show.html.erb'. So helpful! You can search, sure, but wouldn't it be easier to know what file you're looking for instead?</p>
							<p>It's important to name your views, modals controllers, CSS files, JS files, etc, all to match as best as you can.</p>
							<p>modals.scss, modal-common.html.erb, modal-delete-comment.js is much more clear than like, comments.rb, modals.scss, cancel-action.js.</p>
							</p>
						</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;Code is self documenting most of the time assuming you name things properly. If you don&#8217;t, it&#8217;s a mess.&#8221;</h3>
						<p class="quote-source">Florian Laplantif</p>
						<aside class="notes">
							<p>I love reading good docs, it makes me SO happy when I open a project for the first time and there's instructions..the amount of time it saves having to search and grep for what I am looking for is immense. That said, I loathe writing documentation. But I don't mind thinking about the names of my files, or writing a comment in each Sass file I create that says, "hey, this is for modals." and then I name the file modals.scss.</p>
							<p>And then it's practically self documenting.</p>
						</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;First do it, then do it right, then do it better.&#8221;</h3>
						<p class="quote-source">Addy Osmani</p>
						<aside class="notes">
							<p>I know that a lot of times, to style elements that are badly named, instead of cleaning our CSS and adding specificity the right way, we add unnecessary IDs and elements to our HTML. I know that sometimes we write really messy code, like Smith was talking about earlier, just to get the idea and concept across.</p>
							<p>Or when you're mid-feature, on a deadline, and it's late, and you're tired, yes, it takes longer to go in and find all the places some element lives, change a classname, change the CSS, check the JS to make sure nothing broke.</p>
							<p>So instead, our code is just a teeny bit more messy, we shrug and think we'll fix it later... uh-huh. Sure you will. You and all of your coworkers, too. So do the hard work now, before doing the right thing becomes too difficult.</p>
						</aside>
					</section>

					<section data-state="logos">
						<aside class="notes">
							<p>Keeping your assets up to date is another way to make sure everything is consistent. The longer you wait to update your version of rails means the longer you wait to update your gems.. and at some point, if the version you have is too out of date, the more likely things are to break when you DO update, so you never do.</p>
							<p>I really love Bower for things like CSS frameworks; Bower allows you to pull in assets like Zurb Foundation, instead of installing it manually. So instead of having to rip out a bunch of stuff and change a bunch of files when you want to update to a new version, you can update pretty seamlessly behind the scenes.</p>
							<p>Tools like Grunt or precommit hooks built into your git flow can also help us automate manual tasks that we might otherwise skip, like strippig unused selectors, minifying files, and precompiling and gzipping assets before they're uploaded.</p>
						</aside>
					</section>

					<section data-state="neverdonethosethings"></section>

				</section>

				<!-- Performance -->
				<section data-state="section6">
					
					<section>
						<h2>don't give users unoccupied time</h2>
						<h6>speed</h6>
						<aside class="notes">
							<p>I read an article about the Houston airport, in which passengers were complaining that the wait to get their luggage was too long. They added more baggage people, got the bags off the planes and to the claim faster... and people still complained.</p>

							<p>Turns out, it took passengers a minute to walk from their arrival gates to baggage claim and seven more minutes to get their bags. Roughly 88 percent of their time, in other words, was spent standing around waiting for their bags.</p>

							<p>So the airport decided on a new approach: they moved the gates and baggage claim FARTHER away from each other, so it took six times longer to get there. Complaints dropped to near zero.</p>

							<p>Occupied time (walking to baggage claim) feels shorter than unoccupied time (standing at baggage claim).</p>
						</aside>
					</section>

					<section data-state="morecowbell">
						<aside class="notes">
							<p>Marissa Meyer told a story about a user test they did at Google. They asked users how many search results they wanted to see. Users asked for more, more, more.</p>

							<p>So, they ran an experiment to increase the number of search results to thirty. Traffic and revenue from Google searchers in the experimental group dropped by 20%.</p>

							<p>But why? They asked for this! Why did they hate it?</p>

						</aside>
					</section>

					<section>
						<h4>The page with 10 results <span class="fragment">took <strong>.4 seconds</strong></h4></span>
						<h4 class="fragment">The page with 30 results <span class="fragment">took <strong>.9 seconds</strong></h4></span>
						<aside class="notes">
							<p>POINT FIVE of a second.</p>
						</aside>
						
					</section>

					<section data-state="throwing-tables">
						<aside class="notes">
							<p>We really hate to wait.</p>
						</aside>
					</section>

					<section>
						<p>after three seconds</p>
						<h3>up to 40% of users <br/>will abandon your site</h3>
						<aside class="notes">
							<p>Lara Swanson did a great talk called Designing for Performance, and she outlines a ton of great examples of how important performance is.</p>

							<p>Fast page load time builds trust in your site; it yields more returning visitors, more users choosing your site over a competitor’s site, and at the very least, they don't curse your name while waiting for the page to load.</p>

							<p>Users expect pages to load in two seconds! Just two. And while it's easy to dismiss a statistic, <strong>raise your hand</strong> if you have ever given up trying to load a site on your phone because it took less than two or three near-instantaeous seconds?</p>

							<small>http://laraswanson.com/design/</small>
						</aside>
					</section>

					<section data-state="louie">
						<iframe width="960" height="720" src="//www.youtube.com/embed/uEY58fiSK8E#t=82" frameborder="0" allowfullscreen></iframe>
						<aside class="notes">
							<p>
								comedy break!
							</p>
						</aside>
					</section>

					<section>
						<p>at Amazon, +100 milliseconds page load</p>
						<h3>decreased sales by 1%</h3>
						<aside class="notes">
							<p>Amazon did a study and found that 100 milliseconds of additional page load time decreased sales by one percent. and I know 1% doesn't sound like a lot, until you realize that Amazon net sales in 2013 was SEVENTY FIVE BILLION dollars, so 1% is SEVEN HUNDRED FIFTY MILLION DOLLARS</p>
							<small>https://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt?attredirects=0 - LS</small>
						</aside>
					</section>

					<section data-state="gold"></section>

<!-- 					<section>
						<h3 class="quote">&#8220;With anything added to a page, you need to be able to answer the question of &#8220;What value does this provide?&#8221; and in turn be able to determine if the value outweighs the pain.&#8221;</h3>
						<p class="quote-source">Tim Kadlec</p>
					</section> -->

					<section>
						<h3>Critical Path</h3>
						<h5 class="fragment">CSS blocks rendering; load them first</h5>
						<h5 class="fragment">JS blocks downloads; load them last</h5>
						<aside class="notes">

							<p>The critical path is the path from the user following a link to the working experience.</p>

							<p>CSS blocks rendering, so you need to deal with it right away. Browsers will download all CSS, sometimes even print stylesheets, before it can render the page. And if we're waiting on the rendering, the user is waiting.</p>

							<p>JS blocks downloads, so you need to deal with these last. Browsers block parallel downloads with JavaScript so that it doesn’t start downloading jQuery and your plugin at the same time; it should be pretty obvious that if you were to start downloading both in parallel, your plugin would arrive before jQuery would. Your script might alter the page, meaning the browser will have to deal with that before it can move on to anything else.</p>

							<small>http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/</small>
							<small>http://www.phpied.com/css-and-the-critical-path/</small>
						</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;If the page is ugly without CSS, we can live with that, but there <strong>is</strong> no page without CSS if the browser takes forever to timeout, showing us a blank white page.&#8221;</h3>
						<p class="quote-source">Syotan Stefanov</p>
						<aside class="notes">

							<p>Think about this: you have an HTML page; without the HTML, there is no path really. Game over. Without images? You can live without images most of the time. Without JavaScript? hopefully you'll have a good fallback.</p>
							<p>What's left on the critical path is CSS. If the page is ugly without CSS, we can live with that, but there IS no page without CSS if the browser waits and waits and takes forever and times out and shows us a blank white page.</p>
						</aside>
					</section>

					<section>
						<h3>
                            send less stuff <span class="divider">•</span> 
                            gzip <span class="divider">•</span> <br/>
                            use CDNs to parallelize <span class="divider">•</span> 
                            caching<span class="divider">•</span> 
                            optimized images
                        </h3>

						<aside class="notes">
							<p>obviously, first, the less stuff we send down the tubes, the better. when you can replace an image with CSS, that's great; if you can use 2 weights of font instead of 6, great. Refactoring your CSS to remove unused selectors is pretty trivial when you compare it to removing a JS lib or an image, but it can still be valuable. </p>
							<p>At Square Root I wrote our original Sass architecture; after about a year and a half, I did a pretty big refactor using Susy, thanks Eric, removing some old CSS we didn't need, and making sure that IE didn't download any of the media query wrapped styles. I cut about 50kb out just doing that, and more for IE.</p>
							<p>Then we split the CSS out into what the homepage needed—which was about 100kb—versus what the rest of the pages and apps needed—which was about 225kb, which we could lazy-load after everything was done. Combine that with gzip and an amazon CDN, coupled with some JS refactoring, we gained almost an entire second of load time.</p>
							<small>https://speakerdeck.com/chriscoyier/lets-do-a-bunch-of-simple-stuff-to-make-websites-faster</small>
							<small>http://www.stevesouders.com/blog/2012/03/22/cache-them-if-you-can/</small>
						</aside>
					</section>

					<section data-state="banana-kid"></section>

					<section>
						<h3 class="quote">&#8220;Typically the cleaner your markup ends up, the smaller your CSS will be, and the easier redesigning and editing will be in the future. It saves you not just page load time, but development time too.&#8221;</h3>
						<p class="quote-source">Lara Swanson, Etsy</p>
						<aside class="notes">
							<p>I firmly believe that when your code is good, you enable yourself to create a better experience for your users. If you can keep your HTML and CSS, your JS and views and controllers, all named consistently, organized, and human readable, it's easier to spot where your language is out of context, where the UI might be inconsistent, or what might need refactoring.</p>
							<p>If you have a dev setup that encourages and allows you to find the right code, reuse it and refactor it, you are more likely to do the right thing—for yourself, your team, and ultimately your users, too.</p>
						</aside>
					</section>

				</section>

				<section>
					<h3>
	                    Be one of your users <span class="divider">•</span> <br/>
                        <span class="fragment">be a copywriter <span class="divider">•</span> </span>
                        <span class="fragment">be clear <span class="divider">•</span> </span>
                        <span class="fragment">be consistent <span class="divider">•</span> </span>
                        <span class="fragment">be fast</span>
                    </h3>
                    <aside class="notes">
                    	<p>So: occasionally look at your app through the eyes of your users, to understand what it is they experience. Looking at it on your local environment is not enough. Go to production, download the app on your phone, read your website with fresh eyes.</p>
                    	<p>Think about what you are writing, and the context in which it appears. Whether it's code names, comments, or error messages, context and clarity matter. In your code, being consistent in your naming, your styles, and your workflow can help you cut down on UI bugs and find the right code fast.</p>
                    	<p>And last but of course not least, ask yourself when you add code or files, "is this worth it?". Speed-test your pages.. and then go check it out like a user and see if it's acceptable.</p>
                    </aside>
				</section>

				<section data-state="flamingle"></section>



			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					// { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					// { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					// { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					// { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
