<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/elyse.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<section data-state="cancel-ok">
					<!-- <h2>good code = a good experience</h2> -->
					<img src="assets/cancel-ok.png">
				</section>

				<section>
					<h5>hi, I&#8217;m</h5>
					<h1><small>@</small>elyseholladay</h1>
					<aside class="notes">
						I'm Elyse; I'm a designer, front end developer, and
					</aside>
				</section>


				<section data-state="makersquare">
					<aside class="notes">
						...I work at MakerSquare, a programming school in Austin, TX. I think about our brand, our website, and our process, I write code, and I teach HTML, CSS, and JavaScript. Before that I worked at Square Root and at Bazaarvoice as a front-end dev and UX designer.
					</aside>
				</section>

				<!-- Intro -->
				<section>

					<section data-state="cancel-ok">
						<h3>how did we get here?</h3>
						<img src="assets/cancel-ok.png">
					</section>

					<section>
						We accidentally a user experience.
						<aside class="notes">
							When I was a kid, and we'd say "I didn't mean to, it was an accident!" as an excuse, my Mom's most misery-inducing response was, "you didn't mean NOT to." 
							I think most bad user experiences are NOT caused by evil design and dev teams, coding away in dark secret lairs, rubbing their hands and laughing every time someone hits "Reset Form" instead of "Submit Form"—they're accidental.
						</aside>
					</section>


					<section data-state="center">
						<h3>
                            Visuals <span class="divider">•</span> Interactivity<br/>
                            Context <span class="divider">•</span> Flow <span class="divider">•</span> Language<br/>
                            Consistency <span class="divider">•</span> Speed</h3>
						<aside class="notes">
                            so what is a user experience, anyway? in terms of a website or app— visuals, interactivity, context, flow, language, consistency, and speed</aside>
					</section>


					<section>
						<h3 class="quote">&#8220;That&#8217;s the designer&#8217;s job.&#8221;</h3>
						<p class="quote-source">hopefully not you</p>
						<aside class="notes">
							<b>Everyone</b> who works on your site is responsible for the user experience.
							"Especially now that responsive/mobile design is critical, more responsibility for the user’s experience will land on the shoulders of people who can code."</aside>
					</section>

					<section>
						<h3 class="quote">&#8220;There is nothing <em>but</em> user experience design if you’re building products for people.&#8221;</h3>
						<p class="quote-source">Francis Berriman</p>
                        <aside class="notes">I loathe the term “user experience designer”, because I  believe that “user experience” is a fundamental to what you’re doing, and shouldn’t need stating. </aside>
					</section>


				</section>

				<!-- Interactivity/RWD/Design -->
				<section>

					<section>
						<h2>experience what you build as a user</h2>
						<aside class="notes">
							I suspect we are all guilty of building something that, in the context of our app or site, seemed like a good solution, but that we find immensely annoying. Do we take the time to experience the things we build AS USERS, on the real devices they might be used on, not emulators, not thinking about bugs?
						</aside>

					</section>

					<section>
						<h4>WhatsApp <span class="divider">vs</span> iMessage <span class="divider">•</span> Feedback</h4>
						<img src="https://d262ilb51hltx0.cloudfront.net/max/640/1*wQ0auiAEIS0JBGUGxze5fQ.png">
						<img src="https://d262ilb51hltx0.cloudfront.net/max/640/1*-FyGAdSZNCgVwaCLFnLplA.png">
						<aside class="notes">
							Imagine we're building iMessage. We're like, hey, I have a great idea—let's add a progress bar so people know how fast their messages are being sent, and if they got through okay! But man, that blue progress bar can take foreevvverr—you know what I mean. It's not a bad piece of feedback to the user, but...
							
							Whatsapp uses a green checkmark to indicate that a message has been sent and another to indicate that it’s been received. What the app does brilliantly is to show you the first checkmark immediately. It may not have been fully sent, but it will probably get there, so let's go ahead and show that check. This makes the user feel like Whatsapp is really fast at sending messages.
						</aside>
					</section>

					<section>
						<h4>Google Maps <span class="divider">•</span> Scroll Hijacking</h4>
						<blockquote class="twitter-tweet" lang="en"><p><a href="https://twitter.com/drdrang">@drdrang</a> Agree. I don&#39;t know how many times I&#39;ve gone from a neighborhood to outer space by accident.</p>&mdash; Eddie Smith (@eddie_smith) <a href="https://twitter.com/eddie_smith/statuses/74868619435184128">May 29, 2011</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<aside class="notes">
							As Trent Walton said, "[a site] shouldn’t dramatically change how basic input devices operate." He was referring to Apple's new product pages, where scrolling plays a 2-3 second video. He continues, "Rather than consuming the page, I worried I broke my trackpad and grew tired of the 3+ second delays while trying to explore each section."
							trent walton http://trentwalton.com/2013/10/23/scroll-hijacking/
						</aside>
					</section>

					<section data-state="productpicker">
					<aside class="notes">
						When I worked at Bazaarvoice, we worked on consumer product rating and review software. When a user submitted a review on a product, they could add related products, like a game to a review of a Wii. This feature had super-high conversion rates but was never used. I ran some user tests, and it turned out that the search was based on the number of times the search result came up—nothing else. So if you searched for “macbook” you would get “Macbook Case for Macbook Pro 13” and Macbook Pro 15”” rather than the actual Macbook, which might appear on page five. 
						So we built a demo and bumped search results based on the number of reviews a product has; most likely a Macbook Pro has more reviews than a case. Time to find the right product dropped from 2 minutes to :15-:45 seconds.

						In all of the less-than-steller cases, I think the only sin committed was not USING what they built. 
					</aside>
					</section>

					<section>
						<h4>Instagram <span class="divider">•</span> optimistic design</h4>
						<img src="http://cdn.cultofmac.com/wp-content/uploads/2012/05/Screen-Shot-2012-05-01-at-2.51.58-PM.jpg">
						<aside class="notes">
							What about a good example?

							When we use Instagram, what we see is our photo instantly upload right when we tap the “Done” button, but Instagram is actually working in the background to get that photo up from the moment we take it. 

							http://www.cultofmac.com/164285/the-clever-trick-instagram-uses-to-upload-photos-so-quickly/
						</aside>
					</section>

				</section>

				<section>
					
					<section>
						<h2>understanding<br/>
						flow &amp; context</h2>
						<aside class="notes">
							If you are a developer, congrats, you are also a copywriter. But when was the last time you thought about what you wrote in an app? 
							And before you say it's that a designer's job, when did a designer last provide you a list of say, error messages? And if they did, was it a list contain contextual clues about where that error message appears?
					</section>

					<section>
						<h3 class="quote">
							&#8220;If you can go through your app and find any sentence that you’d write differently if it wasn’t generated by a computer, you are reducing the effectiveness of that text and degrading the overall experience.&#8221;
						</h3>
						<p class="quote-source">Alex Sexton</p>
					</section>

					<section>
						<p>No notifications.</p>
						<h3 class="quote">&#8220;Sorry, you don't seem to have any notifications for this application.&#8221;</h3>
						<aside class="notes">
							here's a few that my fellow front-end dev/designer and i rewrote at my last company
						</aside>
					</section>

					<section>
						<p>Phone value cannot be blank when set to primary.</p>
						<h3 class="quote">&#8220;Your primary phone number seems to be blank. Enter your number, or set a different number to primary.&#8221;</h3>
					</section>

					<section>
						<p>Sorry no results found.</p>
						<h3 class="quote">&#8220;No results found. Try searching for something a little different.&#8221;</h3>
					</section>

					<section>
						<h3 class="quote">&#8220;You can spend as much time as you&#8217;d like on the interaction and visual design, but if your app doesn&#8217;t have a good flow, you&#8217;re leaving the most important cards on the table: the content.&#8221;</h3>
						<p class="quote-source">Alex Sexton</p>

						<aside class="notes">
							he goes on to say, "The goal is to offer interesting data to the user without just generating a table and without sounding like Borat writes the copy. "

							https://alexsexton.com/blog/2012/03/the-ux-of-language/
						</aside>

					</section>

					<section data-state="cancel-ok">
						<img src="assets/cancel-ok.png">
						<aside class="notes">
							So back to this— I'd like to imagine that to some poor developer, this probably made sense in some way. Maybe a designer told them the primary button should always be "OK" because it's friendlier language? Maybe in the code, the primary/secondary OK/Cancel button setup already existed, and they had been told to use the common modal button setup. But then they realized that didn't make sense so they had to clarify that pressing OK would cancel. 
						</aside>
					</section>


					<section>
						<pre><code>
  <!-- Common modal/alert dialog markup -->
  <button type="submit" id="btn-pos"> <% BUTTON.POSTEXT %> </button>
  <button type="submit" id="btn-neg"> <% BUTTON.NEGTEXT %> </button>
						</code></pre>

						<aside class="notes">
							for the devs who were making this modal, when they looked at the code, was it clear where the buttons would end up, what they would say, and what their context was?
						</aside>

					</section>

				</section>

				<!-- Names and Naming Conventions -->
				<section>
					
					<section>
						<h2>do the hard work <br/>to make it simple</h2>
						<aside class="notes">
							In the end, your fellow developers are ALSO your users. They are the users of the code you write. Make it simple for THEM to do the right thing; hopefully, in the end, this makes it simple to create a great experience.
						</aside>
					</section>

					<section>
						what is faster: writing a new one, or finding the right thing?
						* clean code with comments that is reusable means it WILL get reused, rather than "i dont know where to find that so i am going to write my own"
						* when you have spaghetti code, it's unlikely to be commented, because we dont like to admit to our hacks
						* how do you find the right piece of code?
					</section>

					<section>
						* human readable HTML and CSS, e.g. "button button-primary is-active" or "modal is-inactive" or "user-list is-expanded"
						* dash, underscore, camel, BEM -pick something and stay with it

					</section>

					<section>
						* naming partials/views to match your controller, and to match your CSS
						* modal-common.html, modal.scss, modal-controller.rb
						* more clear than: page-controller.rb, modals.scss, cancel-action.js (has the html in it) - names matter
						* square root - app navigator, quickpick menu, app menu, app dropdown... PICK ONE! if you don't use the same words when chatting about it, you won't name your code the same. consistency!
					</section>

					<section>
						* “Even if it’s technically sound, is it understandable enough for the rest of the organization to operate, troubleshoot, and extend it?” - http://www.kitchensoap.com/2012/10/25/on-being-a-senior-engineer/
					</section>

					<section>
						
						Sass:
						<pre><code>
							$year: 2014;

							/* Some comment */
							/*! Comment 2 */
							/*! c #{$year} */

						</code></pre>

						Prod CSS:
						<pre><code>
							/* Comment 2 */
							/* c 2014 */
						</code></pre>

						<aside class="notes">
							https://speakerdeck.com/roy/sass-in-the-real-world
						</aside>
					</section>

					<section>
						<h3 class="quote">Code is self documenting most of the time assuming you name things properly. If you don’t name things properly, it’s a mess."</h3>
						<p class="quote-source">Florian Laplantif</p>
					</section>

					<section>
						<h3 class="quote">...once you start thinking ...in terms of semantics like “nav” or “article” and less with design or grid names, you’ll make significant headway."</h3>
						<p class="quote-source">Lara Swanson</p>
						<aside class="notes">
							Often we get to elements with non-semantic names by way of needing more weight in CSS selectors, and instead of cleaning our CSS and adding specificity the right way, we add unnecessary IDs and elements to our HTML. 
						</aside>
					</section>
				</section>

				<!-- Performance -->
				<section>
					
					<section>
						<h2>don't give users unoccupied time</h2>
						<aside class="notes">
							<p>I read an article about the Houston airport, in which passengers were complaining that the wait to get their luggage was too long. They added more baggage people, got the bags off the planes and to the claim faster... and people still complained. Turns out, it took passengers a minute to walk from their arrival gates to baggage claim and seven more minutes to get their bags. Roughly 88 percent of their time, in other words, was spent standing around waiting for their bags.

							So the airport decided on a new approach: instead of reducing wait times, it moved the arrival gates and baggage claim FARTHER away from each other, so it took six times longer to get there. Complaints dropped to near zero.

							Occupied time (walking to baggage claim) feels shorter than unoccupied time (standing at the carousel).

							and the worst kind of unoccupied time? waiting for a website to load on your phone... while you are waiting for the train... while you are waiting to get to work... before you have had any coffee.</p>
						</aside>
					</section>

					<section>
						<h3>More is More?</h3>
						<p class="fragment">The page with 10 results took .4 seconds. The page with 30 results took .9 seconds.</p>
						<aside class="notes">
							Marissa started with a story about a user test they did. They asked a group of Google searchers how many search results they wanted to see. Users asked for more, more than the ten results Google normally shows. More is more, they said.

							So, Marissa ran an experiment where Google increased the number of search results to thirty. Traffic and revenue from Google searchers in the experimental group dropped by 20%.

							Ouch. Why? Why, when users had asked for this, did they seem to hate it?
						</aside>
					</section>



					<section>
						<p>after three seconds</p>
						<h3>up to 40% of users <br/>will abandon your site</h3>
						<aside class="notes">
							Fast page load time builds trust in your site; it yields more returning visitors, more users choosing your site over a competitor’s site, and more people trusting your brand. Users expect pages to load in two seconds,
							http://www.mcrinc.com/Documents/Newsletters/201110_why_web_performance_matters.pdf.
						</aside>
					</section>

					<section>
						<p>at Amazon, +100 milliseconds page load</p>
						<h3>decreased sales by 1%</h3>
						<aside class="notes">
							Similar results have been noted by major sites like Amazon, who found that 100 milliseconds of additional page load time decreased sales by one percent. and I know 1% doesn't sound like a lot, until you realize that Amazon net sales in 2013 was SEVENTY FIVE BILLION dollars, so 1% is SEVEN HUNDRED FIFTY MILLION WTF
							https://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt?attredirects=0 - LS
						</aside>
					</section>

					<section>
						* Akamai has also reported that 75% of online shoppers who experience an issue such as freezing, crashing, taking too long to load, or having a convoluted checkout process will not buy from that site http://www.akamai.com/dl/reports/Site_Abandonment_Final_Report.pdf. — Lara Swanson
						* http://programming.oreilly.com/2014/01/web-performance-is-user-experience.html
					</section>


					<section>
						* 80% of response time is front end
						* CSS blocks rendering, so you need to deal with it right away (i.e. at the top of the document, in your <head>).
						JS blocks downloads, so you need to deal with these last to ensure that they don’t hold up anything else on the page.
						http://csswizardry.com/2013/01/front-end-performance-for-web-designers-and-front-end-developers/
					</section>

					<section>
						* CSS is one of performance’s worst enemies, as outlined by Stoyan Stefanov, because of this rendering blockage. It’s also worth noting that a browser will download all CSS before it will begin rendering your page. This means that your print.css will be requested even if the browser is only rendering a page on screen. It means that any stylesheets that are only used based on a media query (e.g. <link rel="stylesheet" media="screen and (min-device-width: 800px)" href="desktop.css">) will still be downloaded even if they aren’t needed.
					</section>

					<section>
						<h2>Workflow</h2>
					</section>


					<section>
						* "I doubt anyone really wants to release a site that doesn't perform well, it's just a product of not being afforded the luxury of time and top-down pressure." https://speakerdeck.com/tkadlec/speed-matters-at-in-control-2014
					</section>

					<section>
						* With anything added to a page, you need to be able to answer the question of “What value does this provide?” and in turn be able to determine if the value outweighs the pain. — Tim Kadlec
					</section>

					<section>
						* again: what's faster, doing the right thing, or doing something hacky?
						be a lazy developer
						* if you have a dev setup that encourages and allows you to find the right code, reuse it, refactor it, comment it.. get it code reviewed.. aren't you more likely to do that? rather than write something new?
					</section>

					<section>
						Updated gems/assets (rails gems, bower) - consistent, easy upgrades make for availability of newer features, better browser support, etc
					</section>
										
					<section>
						<h3>Testing</h3>
						aka "use. your. damn. app."
					</section>

					<section>
						Nielsen: "You better appreciate your average customers when you have to struggle with a new and unfamiliar user interface."
						http://www.nngroup.com/articles/try-to-be-a-test-user-sometime/
					</section>

					<section>
						* It’s the tests that keep our code flexible, maintainable, and reusable […] Because tests enable change.
						Robert C Martin's Clean Code book, summarized by https://medium.com/on-coding/a70ca8382884
					</section>

					<section>
						* http://uxdesign.smashingmagazine.com/2011/10/04/improve-the-user-experience-by-tracking-errors/ tracking error messages and 404 page hits
					</section>

					<section>
						crazyegg, eye tracking, clicks and referrers
					</section>

					<section>
						not just perf testing and smoke tests
					</section>

				</section>



			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
					// node server-side second-device notes
					{ src: 'socket.io/socket.io.js', async: true },
					{ src: 'plugin/notes-server/client.js', async: true }
				]
			});

		</script>

	</body>
</html>
