/**
 * Elyse theme!
 * Author: Elyse Holladay
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts

@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.svg#PlutoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlutoSansRegular';
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_regular.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.svg#PlutoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PlutoSansBold';
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_bold.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.svg#PlutoSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


$white: #fff;
$green: #9bc33f;
$turquoise: darken(rgb(97,210,214),20%);
$blue: #237cbe;
$lavender: rgb(213,121,204);
$purple: #993399;
$coral: #e6475b;
$tangerine: #ff753e;
$red: rgb(249,56,49); // e6475b


// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
// $backgroundColor: #993399;
// $backgroundColor: rgb(104,192,170);
$backgroundColor: $blue;



// Primary/body text
$mainFont: 'PlutoSansExtraLight', sans-serif;
$mainFontSize: 36px;
$mainColor: #eee;

// Headings
$headingFont: 'PlutoSansBold', Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1em;
$headingLetterSpacing: 0;
$headingTextTransform: uppercase;
$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #444;
$linkColorHover: #eee;

// Text selection
$selectionBackgroundColor: #993399;
$selectionColor: #fff;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

p.footnote {
    font-size: 24px
}

.center body {text-align: center;}

.section1 body {
    background: $green;
}
.section2 body {
    background: $turquoise;
}
.section3 body {
    background: $blue;
}
.section4 body {
    background: $purple;
}
.section5 body {
    background: $coral;
}
.section6 body {
    background: $tangerine;
}
.red body {
    background: $red;
}

.scssfile body {
    background: url('../../assets/sample_scss.png') no-repeat 0 -15px;
}

.codekit1 body {
    background: url('../../assets/codekit1.png') no-repeat center 88%;
    background-size: cover;
}

.codekit2 body {
    background: url('../../assets/codekit2.png') no-repeat 0 100%;
    background-size: cover;
}

    .codekit1 .reveal h3,
    .codekit2 .reveal h3 {
        color: $backgroundColor;
    }

.typography body {
    background: url('../../assets/typography.png') no-repeat 0 -30px;
}

.colorvariables body {
    background: url('../../assets/colorvariables.png') no-repeat 0 -15px;
}

.fontsizes body {
    background: url('../../assets/fontsizes.png') no-repeat 0 -15px;
}

.clearfix body {
    background: url('../../assets/clearfix.png') no-repeat 0 -15px;
}

.clearfixremoved body {
    background: url('../../assets/clearfixremoved.png') no-repeat 0 -15px;
}

.import1 body {
    background: url('../../assets/import1.png') no-repeat 0 -15px;
}

.components .slides {
    width: 100% !important;
    height: 100% !important;
}

.components section {
    top: -200px !important;
    text-align: center;
}

.css3mixins body {
    background: url('../../assets/css3mixins.png') no-repeat 0 -15px;
}

.import2 body {
    background: url('../../assets/import2.png') no-repeat 0 -15px;
}

.import3 body {
    background: url('../../assets/import3.png') no-repeat 0 -15px;
}


.digg body {
    background: url('../../assets/digg.png') no-repeat 0 -15px;
}


.commenttypes body {
    background: url('../../assets/commenttypes.png') no-repeat 0 -15px;
}

.comments body {
    background: url('../../assets/comments.png') no-repeat 0 -15px;
}

.reveal p {
    margin-bottom: 20px;
}

// GIFS!!!1

.sassy body {
    background: black url('../../assets/gifs/sassy-girl.gif') no-repeat center center;
    background-size: contain;
}

.introgif body {
    background: black url('../../assets/gifs/donttouch.gif') no-repeat center center;
    background-size: contain;
}

.fascinating body {
    background: url('../../assets/gifs/fascinating.gif') no-repeat center center;
    background-size: 100%;
}

.colbertuhhuh body {
    background: url('../../assets/gifs/colbertuhhuh.gif') no-repeat center center;
    background-size: cover;
}

.cookiemonster body {
    background: url('../../assets/gifs/cookiemonster.gif') no-repeat center center;
    background-size: cover;
}

.cssgif body {
    background: url('../../assets/gifs/css.gif') no-repeat center center;
    background-size: contain;
}

.meridaugh body {
    background: url('../../assets/gifs/meridaugh.gif') no-repeat center center;
    background-size: cover;
}

.orangutanomg body {
    background: url('../../assets/gifs/orangutanomg.gif') no-repeat center center;
    background-size: cover;
}

    .orangutanomg body h3,
    .orangutanomg body h5 {
        color: $backgroundColor;
    }

.inception body {
    background: url('../../assets/gifs/inception3.gif') no-repeat center center;
    background-size: cover;
}

.indyswitch body {
    background: url('../../assets/gifs/indyswitch.gif') no-repeat center center;
    background-size: cover;
}

.pigtailgirl body {
    background: url('../../assets/gifs/pigtailgirl.gif') no-repeat center center;
    background-size: cover;
}

.sciencedino body {
    background: url('../../assets/gifs/sciencedino.gif') no-repeat center center;
    background-size: cover;
}

    .sciencedino body h3,
    .sciencedino body h5 {
        color: $backgroundColor;
    }

.badcomputer body {
    background: url('../../assets/gifs/badcomputer.gif') no-repeat center center;
    background-size: cover;
}

.documentation body {
    background: url('../../assets/gifs/squirrel.gif') no-repeat center center;
    background-size: cover;
}

.housetyping body {
    background: url('../../assets/gifs/housetyping.gif') no-repeat center center;
    background-size: cover;
}

.flamingle body {
    background: url('../../assets/gifs/flamingle.gif') no-repeat center center;
    background-size: cover;
}

    .flamingle body h3 {
        color: $backgroundColor;
    }

.squareroot body {
    background: url('../../assets/squareroot.jpg') no-repeat center center;
    background-size: cover;
}


/* Example Buttons */
.buttons body {background: #fff;}
.buttons .reveal section img {border: 0; box-shadow: none;}
.buttons h2 {color: $coral;}

%button {
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font: 100%/2.6 "Proxima Nova", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: .25em 1em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none !important;

}

@mixin button($text-color, $bg-color) {
    @extend %button;
    color: $text-color;
    background: $bg-color;
    box-shadow: 0px 8px 0px 0px transparentize($bg-color,.75);
    border-right: 1px solid darken($bg-color,10%);
    border-bottom: 1px solid darken($bg-color,10%);
    text-shadow: 0px 1px 1px darken($bg-color,30%);
    &:active, &:hover {
        background-color: darken($bg-color,10%);
    }
}

.button_example {
    @include button($white,$coral);
}

// Magic Button!

// @mixin gradient-vertical($startcolor,$endcolor) 
//     // fallback/image non-cover color
//     background-color: $startcolor
//     // Safari 4+, Chrome 1-9
//     background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($startcolor), to($endcolor))
//     // Safari 5.1+, Mobile Safari, Chrome 10+
//     background-image: -webkit-linear-gradient(top, $startcolor, $endcolor)
//     // Firefox 3.6+
//     background-image: -moz-linear-gradient(top, $startcolor, $endcolor)
//     // IE 10+
//     background-image: -ms-linear-gradient(top, $startcolor, $endcolor)
//     // Opera 11.10+
//     background-image: -o-linear-gradient(top, $startcolor, $endcolor)

$button_magic_color: $white;
$button_magic_background: $green;

.button_magic {
    @include button($button_magic_color,$button_magic_background);
}

