/**
 * Elyse theme!
 * Author: Elyse Holladay
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts

@font-face {
    font-family: 'PlutoSansExtraLight';
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_exlight.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_exlight.svg#PlutoSansExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PlutoSansRegular';
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_regular.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_regular.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_regular.svg#PlutoSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PlutoSansBold';
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot');
    src: url('http://elyseholladay.com/fonts/plutosans_bold.eot?#iefix') format('embedded-opentype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.woff') format('woff'),
         url('http://elyseholladay.com/fonts/plutosans_bold.ttf') format('truetype'),
         url('http://elyseholladay.com/fonts/plutosans_bold.svg#PlutoSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


$white: #fff;
$green: #9bc33f;
$turquoise: darken(rgb(97,210,214),20%);
$blue: #237cbe;
$lavender: rgb(213,121,204);
$purple: #993399;
$coral: #e6475b;
$tangerine: #ff753e;
$red: rgb(249,56,49); // e6475b


// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
// $backgroundColor: #993399;
// $backgroundColor: rgb(104,192,170);
$backgroundColor: $purple;



// Primary/body text
$mainFont: 'PlutoSansExtraLight', sans-serif;
$mainFontSize: 36px;
$mainColor: #eee;

// Headings
$headingFont: 'PlutoSansExtraLight', Impact, sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.25em;
$headingLetterSpacing: 0;
$headingTextTransform: uppercase;
// $headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
$headingTextShadow: none;
$heading1TextShadow: $headingTextShadow;

// Links and actions
$linkColor: #444;
$linkColorHover: #eee;

// Text selection
$selectionBackgroundColor: #993399;
$selectionColor: #fff;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal h1 {
    font-size: 2.75em;
}

.reveal h1 small {
    vertical-align: 15px;
    color: $lavender;
}

.reveal h2 {
    font-family: "PlutoSansRegular";
}

h3.quote {
    text-transform: none;
}

p.quote-source {
    text-transform: uppercase;
    font-size: 22px;
}

p.footnote {
    font-size: 24px;
}

.divider {
    color: $lavender;
    text-transform: lowercase;
}

.reveal h6 {
    color: $lavender;
}

.center body {text-align: center;}

.section1 body {
    background: $green;
}
.section2 body {
    background: $turquoise;
}
.section3 body {
    background: $blue;
}
.section4 body {
    background: $purple;
}
.section5 body {
    background: $coral;
}
.section6 body {
    background: $tangerine;
}
.red body {
    background: $red;
}


.badcomputer body {
    background: url('../../assets/gifs/badcomputer.gif') no-repeat center center;
    background-size: cover;
}


.makersquare body {
    background: $white url('../../assets/makersquare.png') no-repeat center center;
    background-size: 75%;
}

.cancel-ok body {
    background: #eee;
    img {box-shadow: 0 0 0;}
    h2, h3 {color: $linkColor;}
}

.productpicker body {
    background: url("../../assets/pp_1.png") 0 -120px;
}

.referrers body {
    background: url("../../assets/referrers.png") 0 0;
    background-size: cover;
}

.analytics body {
    background: white url("../../assets/ga-flow.png") no-repeat 20px center;
    background-size: 96%;
}

.modalnamedfiles body {
    background: white url("../../assets/popup-css-views.png") no-repeat top center;
}

.logos body {
    background: white url("../../assets/tools-logos.png") no-repeat top center;
}

.morecowbell body {
    background: white url("../../assets/morecowbell.png") no-repeat 0 -95px;
}

.louie {}